<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8" />
		<title>Izvješća</title>
		<link rel="stylesheet" th:href="@{/css/bootstrap.css}" />
		<link rel="stylesheet" th:href="@{/css/stilovi.css}" />
		<link rel="stylesheet" th:href="@{/css/jquery-ui.css}" />
	</head>
	<body>
		<div class="container padding-top-20">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="text-center">Pregled i izrada izvješća</h3>
				</div>
				<div class="panel-body">
					<div class="row">
						<div class="col-md-4 col-lg-4 col-sm-4">
							<table class="table table-borderless table-responsive">
								<tr>
									<td><a href="godisnjiOdmori" class="btn btn-default">Kreiraj izvješće godišnjih odmora</a></td>
								</tr>
							</table>
						</div>
						<div class="col-md-4 col-lg-4 col-sm-4">
							<table class="table table-borderless table-responsive">
								<tr>
									<td><a href="placeniDopusti" class="btn btn-default">Kreiraj izvješće plaćenih dopusta</a></td>
								</tr>
							</table>
						</div>
						<div class="col-mod-4 col-lg-4 col-sm-4">
							<table class="table table-borderless table-responsive">
								<tr>
									<td><a href="iznosRegresa" class="btn btn-default">Kreiraj izvješće iznosa regresa za godišnji odmor</a></td>
								</tr>
							</table>
						</div>
					</div>
					
					<div class="col-md-5 col-lg-5 col-sm-5 col-md-offset-3">
						<table class="table table-borderless table-responsive col-md-4">
							<th:block th:each="putanja : ${putanje}">
								<tr>
									<td>Putanja do izvješća</td>
									<td th:text="${putanja}"></td>
								</tr>
							</th:block>
						</table>
					</div>													
				</div>
			</div>
		</div>
		
		<script type="application/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js" th:src="@{https://code.jquery.com/jquery-3.2.1.min.js}"></script>
		<script type="application/javascript" src="http://code.jquery.com/ui/1.12.1/jquery-ui.js" th:src="@{http://code.jquery.com/ui/1.12.1/jquery-ui.js}"></script>
		<script type="application/javascript" src="js/skripte.js" th:src="@{/js/skripte.js}"></script>
	</body>
</html>