<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8" />
		<title>Izvješća</title>
		<link rel="stylesheet" th:href="@{/css/bootstrap.css}" />
		<link rel="stylesheet" th:href="@{/css/stilovi.css}" />
		<link rel="stylesheet" th:href="@{/css/jquery-ui.css}" />
	</head>
	<body>
		<div class="container padding-top-20">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="text-center">Pregled i izrada izvješća</h3>
				</div>
				<div class="panel-body">
					<div class="row">
						<div class="col-mod-3 col-lg-3 col-sm-3">
							<table class="table table-borderless table-responsive">
								<tr>
									<td><a href="godisnjiOdmori" class="btn btn-default">Kreiraj izvješće godišnjih odmora</a></td>
								</tr>
							</table>
						</div>
						<div class="col-mod-3 col-lg-3 col-sm-3">
							<table class="table table-borderless table-responsive">
								<tr>
									<td><a href="placeniDopusti" class="btn btn-default">Kreiraj izvješće plaćenih dopusta</a></td>
								</tr>
							</table>
						</div>
						<div class="col-mod-3 col-lg-3 col-sm-3">
							<table class="table table-borderless table-responsive">
								<tr>
									<td><a href="iznosRegresa" class="btn btn-default">Kreiraj izvješće iznosa regresa za godišnji odmor</a></td>
								</tr>
							</table>
						</div>
						<div class="col-md-3 col-lg-3 col-sm-3">
							<table class="table table-borderless table-responsive">
								<tr>
									<td><a href="svaIzvjesca" id="btnPrikaziSvaIzvjesca" class="btn btn-default">Prikaži sva izvješća</a></td>
								</tr>
							</table>
						</div>
					</div>
										
					<div class="padding-top-15">
						<div id="div-izvjesca" class="div-izvjesca">
							<table class="table table-borderless table-responsive">
								<th:block th:each="podatakGodisnjegOdmora : ${podaciGodisnjihOdmora}">
									<tr>
										<td th:text="${podatakGodisnjegOdmora.organizacijska_jedinica}"></td>
										<td th:text="${podatakGodisnjegOdmora.zaposlenik}"></td>
										<td th:text="${podatakGodisnjegOdmora.maticni_broj_zaposlenika}"></td>
										<td th:text="${podatakGodisnjegOdmora.broj_dana_godisnjeg_odmora}"></td>
										<td th:text="${podatakGodisnjegOdmora.godine_staza}"></td>
										<td th:text="${podatakGodisnjegOdmora.rola}"></td>
										<td th:text="${podatakGodisnjegOdmora.tjelesno_ostecenje_invalidnost}"></td>
										<td th:text="${podatakGodisnjegOdmora.broj_djece}"></td>
										<td th:text="${podatakGodisnjegOdmora.starost_djece}"></td>
									</tr>
								</th:block>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
		
		<script type="application/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js" th:src="@{https://code.jquery.com/jquery-3.2.1.min.js}"></script>
		<script type="application/javascript" src="http://code.jquery.com/ui/1.12.1/jquery-ui.js" th:src="@{http://code.jquery.com/ui/1.12.1/jquery-ui.js}"></script>
		<script type="application/javascript" src="js/skripte.js" th:src="@{/js/skripte.js}"></script>
	</body>
</html>