<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8" />
		<title>Novi zahtjev</title>
		<link rel="stylesheet" th:href="@{/css/bootstrap.css}" />
		<link rel="stylesheet" th:href="@{/css/stilovi.css}" />
		<link rel="stylesheet" th:href="@{/css/jquery-ui.css}" />
	</head>
	<body>
		<div class="container-fluid padding-top col-md-6 col-lg-6 col-sm-6 col-md-offset-3">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="text-center">Šalji e-mail</h3>
				</div>
				<div class="panel-body">
					<table class="table table-borderless table-responsive">
						<tr>
							<td>Prima:</td>
							<td><input th:value="'Dory' + ' ' + 'Wetherburn'" class="form-control"/></td>
						</tr>
						<tr>
							<td>CC:</td>
							<td><input class="form-control"/></td>
						</tr>
						<tr>
							<td>Predmet:</td>
							<td th:text="${zahtjev.tip}"></td>
						</tr>
						<tr>
							<td></td>
							<td><textarea th:text="'Zaposlenik:' + ${zaposlenik.ime} + ' ' + ${zaposlenik.prezime} + ' '
								+ 'Tip zahtjeva: ' + ' ' + ${zahtjev.tip} + ' ' + 'Od datuma: ' + ${zahtjev.od_datuma} +  ' '
								 + 'Do datuma: ' + ${zahtjev.do_datuma}" rows="5" cols="55"></textarea>
							</td>
						</tr>
						<!-- <tr>
							<td>Prima:</td>
							<td><input th:value="'Dory' + ' ' + 'Wetherburn'" class="form-control"/></td>
						</tr>
						<tr>
							<td>CC:</td>
							<td><input class="form-control"/></td>
						</tr>
						<tr>
							<td>Predmet:</td>
							<td th:text="${zahtjev.tip}"></td>
						</tr>
						<tr>
							<td>
								<textarea rows="5" cols="80" th:text="'Zaposlenik:' + ${zaposlenik.ime} + ' ' + ${zaposlenik.prezime} + ' '
								+ 'Tip zahtjeva: ' + ' ' + ${zahtjev.tip} + ' ' + 'Od datuma: ' + ${zahtjev.od_datuma} +  ' '
								 + 'Do datuma: ' + ${zahtjev.do_datuma}">								
								</textarea>
							</td>
						</tr>	 -->
					</table>
				</div>
			</div>

		</div>
		
		<script type="application/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js" th:src="@{https://code.jquery.com/jquery-3.2.1.min.js}"></script>
	<script type="application/javascript" src="http://code.jquery.com/ui/1.12.1/jquery-ui.js" th:src="@{http://code.jquery.com/ui/1.12.1/jquery-ui.js}"></script>
	</body>
</html>