<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8"/>
		<title>Rezervacija</title>
		<link rel="stylesheet" th:href="@{/css/bootstrap.css}"/>
		<link rel="stylesheet" th:href="@{/css/stilovi.css}"/>
		<link rel="stylesheet" th:href="@{/css/jquery-ui.css}"/>
	</head>
	<body>
		<div class="container-fluid padding-top-20">
			<div class="pading-top-15">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h3 class="text-center">Rezervacija sobe</h3>
					</div>
					<div class="panel-body">
						<div class="pading-top-15 col-md-10 col-lg-10 col-sm-10 col-md-offset-2">
							<div class="col-md-4 col-sm-4 col-lg-4">
								<div class="padding-top-15">
									<div class="div-podaci">
										<div class="panel panel-default">
											<div class="panel-heading heading-novi-zahtjev">
												<h4 class="text-center">Podaci rezervacije</h4>
											</div>
											<div class="panel-body">
												<table class="table table-borderless table-responsive">
													<tr>
														<td>Zaposlenik:</td>
														<td th:text="${session.zaposlenik.ime + ' ' + session.zaposlenik.prezime}"></td>
													</tr>
													<tr>
														<td>Odabrani grad:</td>
														<td th:text="${session.odabraniHotel.grad.naziv}"></td>																											
													</tr>
													<tr>
														<td>Odabrani hotel:</td>
														<td th:text="${session.odabraniHotel.naziv}"></td>														
													</tr>
												</table>
											</div>
										</div>
									</div>
								</div>
							</div>
					
							<div class="col-md-6 col-sm-6">
								<div class="padding-top-15">
									<div class="div-podaci">
										<div class="panel panel-default">
											<div class="panel-heading heading-novi-zahtjev">
												<h4 class="text-center">Podaci rezervacije</h4>
											</div>
											<div class="panel-body">
												<form th:action="@{/rezerviraj}" method="post">
													<table class="table table-borderless table-responsive">
														<tr>
															<td>Datum prijave</td>
															<td><input type="text" id="datum_prijave" name="datum_prijave" class="form-control" autofocus="autofocus" /></td>
														</tr>
														<tr>
															<td>Datum odjave</td>
															<td><input type="text" id="datum_odjave" name="datum_odjave" class="form-control"/></td>
														</tr>
														<tr>
															<td>
																<input type="submit" id="btnRezerviraj" name="btnRezerviraj" class="btn btn-default" value="Rezerviraj"/>
															</td>
														</tr>
													</table>
												</form>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>									
					</div>
					
					<div class="container-fluid">
						<div class="padding-top-15 col-md-6 col-sm-6 col-lg-6 col-md-offset-3">
							<div id="calendar" class="calendar">
								<div class="panel panel-default">
									<div class="panel-heading">
										<h3 class="text-center">Sve rezervacije</h3>
									</div>
									<div class="panel-body">
										<table class="table table-borderless table-responsive">
											<tr>
												<th>Grad</th>
												<th>Hotel</th>
												<th>Datum prijave</th>
												<th>Datum odjave</th>
											</tr>
											<th:block th:each="rezervacija : ${rezervacije}">
												<tr>
													<td th:text="${rezervacija.hotel.grad.naziv}"></td>
													<td th:text="${rezervacija.hotel.naziv}"></td>
													<td th:text="${rezervacija.datum_prijave}"></td>
													<td th:text="${rezervacija.datum_odjave}"></td>
												</tr>
											</th:block>											
										</table>
									</div>
								</div>
							</div>
						</div>
					</div>					
				</div>
			</div>		
		</div>
	</body>
	
	<script type="application/javascript" src="js/jquery.min.js" th:src="@{/js/jquery.min.js}"></script>
	<script type="application/javascript" src="http://code.jquery.com/ui/1.12.1/jquery-ui.js" th:src="@{http://code.jquery.com/ui/1.12.1/jquery-ui.js}"></script>
	<script type="application/javascript" src="js/ui.datepicker-hr.js" th:src="@{/js/ui.datepicker-hr.js}"></script>
	<script type="application/javascript">
	
		$(function(){
			$("#datum_prijave").datepicker({dateFormat: 'yy-mm-dd', minDate: 0});
		});
		$(function(){
			$("#datum_odjave").datepicker({dateFormat: 'yy-mm-dd', minDate: 1});
		});

		$("#btnRezerviraj").click(function(){
			if($('#datum_prijave').val() == ''){
				alert("Polje datum prijave je obavezno!");
				return false;
				}
			else{
				$(this).submit();
				}

			if($('#datum_odjave').val() == ''){
				alert("Polje datum odjave je obavezno!");
				return false;
				}
			else{
				$(this).submit();
				}
			});
	</script>
</html>